*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    margin: 0;
    
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.fa-home{
    padding-right: 5px;
}
.fa-shopping-basket{
    padding-right: 5px;
}
.fa-address-card{
    padding-right: 5px;
}
.fa-pro-motion{
    padding-right: 5px;
}
.fa-tags{
    padding-right: 5px;
}
.fa-user{
    padding-right: 5px;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav a{
    color: #fff !important;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    float: right;
    text-align: left;
    text-transform: uppercase;
    
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
    border-radius: 50px;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*--------------------------banner section------------*/
#banner{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 5%;
}
.shop-title{
 font-size: 40px;
 font-weight: 600;
 margin-top: 100px;
 font-family: 'Roboto', sans-serif;
 
}
#banner a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.carousel-inner img {
    width:  100%;
  
}
/*---------SHOPPING ONLINE---------*/

#services{
    padding: 80px 0;
}
.fruits-img{
 width: 300px;
 margin-top: 20px;
 
 
}
.services{
    padding: 20px;
   
}
.services h4{
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.services p{
    font-size: 10px;
}
.title-fruits::before{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title-fruits::after{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    
}
#services .bnt-shop{
    box-shadow: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
#services .bnt-shop a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 600;
}
p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
}

/*---------Footer---------*/
main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99bb99;
    line-height: 3.5;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color:  #a517ba;
}
 footer h2{
     font-weight: 600;
     font-size: 17px;
 }

.footer > *{
    flex: 100%;
}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}
.txt-foot{
    font-size: 25px;
    color: #fff;
}


.footer-left img{
    width: 20%;
    margin-left: 40%;
    border-radius: 50%;
   
    
}


.footer-left p{
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin-left: 20%;
    padding-left: 50px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 70%;
    margin-right: 1.23em;
}

.box a{
    color: #fff
}

.footer-bottom{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-weight: 800;
}

.footer-left p{
    padding-right: 20%;
    color: #fff;
    
}
.socials {
    margin-left: 45%;
}

.socials a{
    background: #5f1782;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }

    .footer-left{
        flex: 1 0px;
    }

    .footer-right{
        flex: 2 0px;
    }
}

@media (max-width: 600px){
    .footer{
        padding: 15px;
    }
}

/*---------Promotion---------*/

.textcode{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 7%;
}

.button-m{
    margin-top: 7%;
}

.old{
    text-align: center;
    font-size: medium;

}
.new{
    text-align: center;
    font-size: 35px;
    color: red;
    margin-bottom: 6px;
}